GOOGLE_SHEET_ID=1BazpE4_5vJK2siiWxKBBFzptSj_GE9m_XWu2fLRapbA
USE_GOOGLE_SHEETS=false
LAB_RECEPTION_PASSWORD=dps2024
GOOGLE_SERVICE_ACCOUNT_JSON=credentials/google-service-account.json
SHINYAPPS_APP_NAME=ufv-soil-lab-requests
SHINYAPPS_APP_TITLE=Solicitação de análises - DPS/UFV
